body, html {
    font-family:        verdana, arial, helvetica, sans-serif;
    font-size:          100%;
    margin:             0;
    padding:            0;
    height:             100%;
}


/***** layout.html *****/
#qs_header {
    margin:             0px;
    padding:            0px;
    width:              100%;
    background-color:   #352d2c;
}
qs_header a {
    color:              white;
    text-decoration:    none;
}
qs_header a:hover {
    color:              orange;
    text-decoration:    none;
}

#qs_header_title {
    width:              40%;
    margin-right:       10px;
    margin:             0;
    padding:            0;
    color:              white;
    background-color:   #da1500;

    -webkit-border-top-right-radius:        15px;
    -webkit-border-bottom-right-radius:     15px;
    border-top-right-radius:                15px 15px;
    border-bottom-right-radius:             15px 15px;
}
#qs_header_title a {
    color:              white;
    text-decoration:    none;
}
#qs_header_title a:hover {
    color:              orange; /*#352d2c; */
    text-decoration:    none;
}

.qs_header_td {
    vertical-align:     middle;
    font-size:          1.6em;
}

#qs_header_login {
    position:           absolute;
    top:                0;
    right:              0;
    color:              white;
    font-size:          1.6em;
    padding:            0.4em 1.0em;
}
#qs_header_login a {
    color:              white;
    text-decoration:    none;
}
#qs_header_login a:hover {
    color:              orange;
    text-decoration:    none;
}

#qs_header_logged {
    position:           absolute;
    top:                0;
    right:              0;
    color:              white;
    font-size:          1.2em;
    padding:            0.4em 1.0em;
}
#qs_header_logged a {
    color:              white;
    text-decoration:    none;
}
#qs_header_logged a:hover {
    color:              orange;
    text-decoration:    none;
}
#qs_header_loginform {
    position:           absolute;
    top:                0;
    right:              0;
    color:              white;
    padding:            0.4em 1.0em;
}
#qs_header_loginform input {
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #352d2c;
}


#qs_footer {
    clear:              both;
/*    position:           absolute; */
    bottom:             0;
    width:              100%;
    font-style:         bold;
    color:              white;
    background:         #352d2c;
    border-top:         4px solid #da1500;
    text-align:         center;
    padding:            10px 0;
}
#qs_footer a {
    color:              white;
    text-decoration:    none;
}
#qs_footer a:hover {
    color:              orange;
    text-decoration:    none;
}

/***** Wall *****/

#omnibox {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

#omnibox input {
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
    font-size: 1.2em;
}

#omnibox input:focus {
    border: none;
    border-bottom: 2px solid red;
}

/***** index.html *****/
#qs_prev {
    position:           fixed;
    left:               10px;
    top:                200px;
    padding:            6px;
    border:             4px solid black;
    font-size:          1.3em;
    background-color:   #da1500;

    -webkit-border-radius:                  5px;
    border-radius: 5px;
}

#qs_next {
    position:           fixed;
    right:              10px;
    bottom:             200px;
    padding:            6px;
    border:             4px solid black;
    font-size:          1.3em;
    background-color:   #da1500;

    -webkit-border-radius:                  5px;
    border-radius:                          5px;
}

#qs_listing {
    width:              700px;
    margin:             50px auto;
}

.qs_item_priv {
    clear:              both;
    margin:             30px;
    border:             5px dashed #352d2c;
    padding:            10px;
}

.qs_item_pub {
    clear:              both;
    margin:             30px;
    border:             5px solid #352d2c;
    padding:            10px;
}

.qs_item_hr {
    margin:             9px 0;
    border:             1px solid #352d2c;
}

/***** drop.html *****/
/* for safari */
*[draggable=true] {
    -khtml-user-drag:   element;
    cursor:             move;
}


/***** login.html *****/
div.inputdiv {
    margin:             5px;
    text-align:         center;
    width:              300px;
    color:              white;
    border:             4px solid #da1500;
    background-color:   #352d2c;

    -webkit-border-radius:                  24px 8px;
    -webkit-transform:                      rotate(-3deg);
    -webkit-box-shadow:                     2px 2px 6px rgba(0,0,0,0.6);
}

input.sub {
    margin:             5px;
    text-align:         center;
    color:              white;
    width:              100px;
    height:             30px;
    border:             4px solid #da1500;
    background-color:   #352d2c;

    -webkit-border-radius:                  24px 8px;
    -webkit-transform:                      rotate(-3deg);
    -webkit-box-shadow:                     2px 2px 6px rgba(0,0,0,0.6);
}

/***** feedback.html *****/
#qs_feedback_submit {
    float:              left;
    background-color:   #da1500;
    margin: 0 6px;
    padding: 5px;
    font-size: 1.4em;
    width: 110px;
    text-align: center;
    color: white;
    -webkit-border-bottom-left-radius:      5px;
    -webkit-border-bottom-right-radius:     5px;
    border-radius-bottom-right:             5px;
    border-radius-bottom-left:              5px;
}
#qs_feedback_submit a {color: white; text-decoration: none;}
#qs_feedback_submit a:hover {color: orange; text-decoration: none;}



.qs_bar_button:hover{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

.qs_item_bar {
    width: 200px;
    float: right;
    margin: 0 30px;
}

.qs_item_bar_delete {
    padding: 5px;
    padding-bottom: 0;
    margin: 0 3px;
    margin-right: 0;
    float: right;
    background-color: #352d2c;
}

.qs_item_bar_edit {
    padding: 5px;
    padding-bottom: 0;
    margin: 0 3px;
    float: right;
    background-color: #352d2c;
}

.qs_item_bar_visible {
    padding: 5px;
    padding-bottom: 0;
    margin: 0 3px;
    float: right;
    background-color: #352d2c;
}

.qs_item_date {
    text-align: right;
    font-size: 0.8em;
}
